code {
    background-color: #141414;
    padding: 2px 4px;
    border-radius: 4px;
    max-width: 400px;

}

pre {
    background-color: #141414;
    color: #f8f8f2;
    padding: 16px;
    border-radius: 4px;
    width: 400px;
    overflow-x: auto;
}

pre code {
    background: none;
    color: inherit;
}

pre,
code {
    max-width: 600px;
    width: 100% !important;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #141414;
    border-radius: 5px;
}